{% extends 'main.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% block analyzy %}
<!--                               1. Analyza							-->
<h1 class="nadpisAlign">Analýza 1 - Odporúčací systém</h1>
    <div class="tabbable nadpisAlign" id="tabs-402938">
        <ul class="nav nav-tabs">
            {% if analyzaId == 1%}
            <li class="nav-item">
                <a class="nav-link active" href="#subtab1" data-toggle="tab" aria-expanded="true">Import dát</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="#subtab1" data-toggle="tab">Import dát</a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#subtab2" data-toggle="tab">Úprava vstupov</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#subtab3" data-toggle="tab">Analyzuj</a>
            </li>
        </ul>
    </div>
    <div class="tab-content tabAlign">
        <!-- 			Import dat 				-->
        {% if analyzaId == 1%}
        <div class="tab-pane active" id="subtab1" aria-expanded="true">
        {% else %}
        <div class="tab-pane" id="subtab1">
        {% endif %}
            <div class="row container alignCenter">
                <div class="col-md-8">
                    <form role="form" action="{% url 'analyzaVystup' id=1 id2='import' %}#table1" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="inputFile">Nahraj súbor transakcií</label>
                            <input placeholder="transakcie.csv" type="file" class="form-control-file" name="fileCSV" id="inputFileTran" required>
                            <p class="help-block">Podporovaný typ: .csv</p>
                        </div>
                        <div class="form-group">
                            <label for="inputFile">Nahraj katalógový súbor</label>
                            <input placeholder="katalog.xml" type="file" class="form-control-file" name="fileXML" id="inputFileXml">
                            <p class="help-block">Podporovaný súbor: .xml</p>
                        </div>
                        <!--<div class="form-group">
                            <label for="opacLink">OPAC url link (nepodporovaný)</label>
                            <input type="url" class="form-control" id="opacLink" readonly>
                        </div>--> 
                        <div style="float: right;">
                            <button type="submit" class="btn btn-primary">Potvrď</button>
                        </div> 
                    </form>
                    <hr>
                </div>
            </div>
            {% if data %}
            <div id="table1" class="row tabPadding">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID Používateľa</th>
                                <th>Čas vytvorenia transakcie</th>
                                <th>Vek používateľa v čase transakcie</th>
                                <th>Pohlavie</th>
                                <th>PSČ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.pouzivatelId}}</td>
                                <td>{{ d.casVytvoreniaTransakcie }}</td>
                                <td>{{ d.vek }}</td>
                                <td>{{ d.pohlavie }}</td>
                                <td>{{ d.psc_id.obvod }}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                    {% if data.paginator.num_pages > 1 %}
                    <nav id="paginator">
                        <ul class="pagination tabCenter">
                            {% if data.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.previous_page_number }}#paginator">
                                    <i class="fa fa-angle-double-left" aria-hidden="true">Previous</i></a>
                            </li>
                            {% endif %}
                            {% for num in data.paginator.page_range %}
                            {% if data.number == num %}
                            <li class="page-item">
                                <span class="page-link currectPageStyle">{{ num }}</span>
                            </li>
                            {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}#paginator">{{ num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.next_page_number }}#paginator">Next
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <!-- 			Uprava vstupov 				-->
        <div class="tab-pane" id="subtab2">
            <div class="row container alignCenter">
                <div class="col-md-8">	 
                    <form role="form" action="{% url 'analyzaVystup' id=1 id2='uprava' %}#table2" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="dropdown">  
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                            Pohlavie
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <div><input type="checkbox" style="margin: 5px;" name="pohlavieM" /><label style="margin-right: 5px;">Muž</label></div>
                                            <div><input type="checkbox" style="margin: 5px;" name="pohlavieZ" /><label style="margin-right: 5px;">Žena</label></div>     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="dropdown">  
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                                            Veková skupina
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                            <div class="row" style="width: max-content;">
                                                <div class="col-md-12">
                                                    <div><input type="checkbox" style="margin: 5px;" name="age-all" id="select-age-all" /><label style="margin-right: 5px;">Vyber všetky</label></div>
                                                    {% for v in vek %}
                                                    <div><input type="checkbox" style="margin: 5px;" name="vek_{{v.id}}"><label style="margin-right: 5px;">{{ v.skupina }}</label></div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <div class="dropdown">  
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown">
                                            PSČ Obvodu
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="overflow-y: auto; max-height: 400px;">
                                            <div class="row" style="width: max-content;">
                                                <div class="col-md-12">
                                                    <div><input type="checkbox" style="margin: 5px;" name="psc-all" id="select-psc-all" /><label style="margin-right: 5px;">Vyber všetky</label></div>
                                                    {% for p in psc %}
                                                    <div><input type="checkbox" style="margin: 5px;" name="psc_{{p.psc}}"><label style="margin-right: 5px;">{{ p.obvod }}</label></div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class='col-md-4'>
                                <div class="form-group">
                                    <label>OD:</label>
                                    <div class='input-group date' id='datetimepicker6'>
                                    <input type="date" placeholder="" id="birthday" name="od">
                                   </div>
                                </div>
                            </div>
                            <div class='col-md-4'>
                                <div class="form-group">
                                    <label>DO:</label>
                                    <div class='input-group date' id='datetimepicker7'>
                                    <input type="date" placeholder="" id="birthday" name="do">
                                   </div>
                                </div>
                            </div> 
                        </div> 
                        <div class="row"> 
                            <div class="col-md-4" style="padding-top: 3%;"> 
                                <button type="submit" class="btn btn-primary">Potvrď</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% if data %}
            <div id="table2" class="row tabPadding">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID Používateľa</th>
                                <th>Čas vytvorenia transakcie</th>
                                <th>Vek používateľa v čase transakcie</th>
                                <th>Pohlavie</th>
                                <th>PSČ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.pouzivatelId}}</td>
                                <td>{{ d.casVytvoreniaTransakcie }}</td>
                                <td>{{ d.vek }}</td>
                                <td>{{ d.pohlavie }}</td>
                                <td>{{ d.psc_id.obvod }}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                    {% if data.paginator.num_pages > 1 %}
                    <nav id="paginator2">
                        <ul class="pagination tabCenter">
                            {% if data.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.previous_page_number }}#paginator2">
                                    <i class="fa fa-angle-double-left" aria-hidden="true">Previous</i></a>
                            </li>
                            {% endif %}
                            {% for num in data.paginator.page_range %}
                            {% if data.number == num %}
                            <li class="page-item">
                                <span class="page-link currectPageStyle">{{ num }}</span>
                            </li>
                            {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}#paginator2">{{ num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.next_page_number }}#paginator2">Next
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
        <!-- 			Analyzuj					-->
        <div class="tab-pane" id="subtab3">
            <div class="row container alignCenter">
                <div class="col-md-6">
                    <div class="media">
                        <img src="data:image/png;base64,{{ graph|safe }}" width="1920" height="1920">
                        <div class="media-body">
                            <h5 class="mt-0">
                                Nested media heading
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <img src="data:image/png;base64,{{ graph|safe }}" width="1920" height="1920">
                        <div class="media-body">
                            <h5 class="mt-0">
                                Nested media heading
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row container alignCenter">
                <div class="col-md-6">
                    <div class="media">
                        <img src="data:image/png;base64,{{ graph|safe }}" width="1920" height="1920">
                        <div class="media-body">
                            <h5 class="mt-0">
                                Nested media heading
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="media">
                        <img src="data:image/png;base64,{{ graph|safe }}" width="1920" height="1920">
                        <div class="media-body">
                            <h5 class="mt-0">
                                Nested media heading
                            </h5> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
