{% extends 'index.html' %}
{% load static %}
{% block styles %}{% endblock %}
{% block main %}
{% if imported %}
    <div class="tabCenter">
        <!--                               1. Analyza							-->
        <h1 class="nadpisAlign">Analýza 1 - Analýza vývoja aktivity používateľskej základne knižnice vzhľadom na rôzne faktory</h1>
        <!-- 			Uprava vstupov 				-->
        <div class="row container alignCenter">
            <div class="col-md-8">	 
                <form role="form" action="{% url 'analyzaVystup' id=1 %}#table1" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="dropdown">  
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown">
                                        Pohlavie
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <div><input type="checkbox" style="margin: 5px;" name="pohlavieM" /><label style="margin-right: 5px;">Muž</label></div>
                                        <div><input type="checkbox" style="margin: 5px;" name="pohlavieZ" /><label style="margin-right: 5px;">Žena</label></div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="dropdown">  
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                                        Veková skupina
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <div class="row" style="width: max-content;">
                                            <div class="col-md-12">
                                                <div><input type="checkbox" style="margin: 5px;" name="age-all" id="select-age-all" /><label style="margin-right: 5px;">Vyber všetky</label></div>
                                                {% for v in vek %}
                                                <div><input type="checkbox" style="margin: 5px;" name="vek_{{v.id}}"><label style="margin-right: 5px;">{{ v.skupina }}</label></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="dropdown">  
                                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown">
                                        PSČ Obvodu
                                    </button>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="overflow-y: auto; max-height: 400px;">
                                        <div class="row" style="width: max-content;">
                                            <div class="col-md-12">
                                                <div><input type="checkbox" style="margin: 5px;" name="psc-all" id="select-psc-all" /><label style="margin-right: 5px;">Vyber všetky</label></div>
                                                {% for p in psc %}
                                                <div><input type="checkbox" style="margin: 5px;" name="psc_{{p.psc}}"><label style="margin-right: 5px;">{{ p.obvod }}</label></div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class='col-md-4'>
                            <div class="form-group">
                                <label>OD:</label>
                                <div class='input-group date' id='datetimepicker6'>
                                <input type="date" placeholder="" name="od">
                                </div>
                            </div>
                        </div>
                        <div class='col-md-4'>
                            <div class="form-group">
                                <label>DO:</label>
                                <div class='input-group date' id='datetimepicker7'>
                                <input type="date" placeholder="" name="do">
                                </div>
                            </div>
                        </div> 
                        <div class='col-md-4'>
                            <div class="form-group">
                                <label>Rozdelenie</label>
                                <div>
                                    <label>
                                        <input type="checkbox" class="radio" value="1" name="intervalRok" />Ročne</label>
                                    <label>
                                        <input type="checkbox" class="radio" value="1" name="intervalMesiac" />Mesačne</label>
                                    <label>
                                        <input type="checkbox" class="radio" value="1" name="intervalTyzden" />Týždenne</label>
                                    <label>
                                        <input type="checkbox" class="radio" value="1" name="intervalDen" />Denne</label>
                                    </div>
                            </div>
                        </div> 
                    </div>
                    <hr> 
                    <div class="row"> 
                        <div class="col-md-12" style="padding-top: 3%; text-align:right;"> 
                            <button type="submit" class="btn btn-primary">Potvrď</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="tabCenter">
        {% if data %}
            <div id="table1" class="row tabPadding">
                <div class="col-md-12">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>ID Používateľa</th>
                                <th>Čas vytvorenia transakcie</th>
                                <th>Vek používateľa v čase transakcie</th>
                                <th>Pohlavie</th>
                                <th>PSČ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                            <tr>
                                <td>{{ d.pouzivatelId}}</td>
                                <td>{{ d.casVytvoreniaTransakcie }}</td>
                                <td>{{ d.vek }}</td>
                                <td>{{ d.pohlavie }}</td>
                                <td>{{ d.psc_id.obvod }}</td>
                            </tr>
                            {% endfor%}
                        </tbody>
                    </table>
                    {% if data.paginator.num_pages > 1 %}
                    <nav id="paginator">
                        <ul class="pagination tabCenter">
                            {% if data.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.previous_page_number }}#table1">
                                    <i class="fa fa-angle-double-left" aria-hidden="true">Previous</i></a>
                            </li>
                            {% endif %}
                            {% for num in data.paginator.page_range %}
                            {% if data.number == num %}
                            <li class="page-item">
                                <span class="page-link currectPageStyle">{{ num }}</span>
                            </li>
                            {% elif num > data.number|add:'-3' and num < data.number|add:'3' %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}#table1">{{ num }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if data.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ data.next_page_number }}#table1">Next
                                <i class="fa fa-angle-right" aria-hidden="true"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        {% endif %}
        {% for key, graph in graphs.items %}
            {% for k, g in graph.items %}
                <div class="row container alignCenter">
                    <div class="col-md-12">
                        <div class="media">
                            <!--<img src="data:image/png;base64,{{ graph|safe }}" width="1" height="1">-->
                            {% if k == 'url' %}
                            <img src="{{ g }}" width="640" height="640">
                            {% elif k == 'popis' %}
                            <div class="media-body">
                                <h5 class="mt-0">
                                    Popis
                                </h5>
                                <p>{{g}}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
{% endif %}
{% endblock %}
{% block scripts %}
{% endblock %}