.bgdarkgray {
    background-color: #5f788a;
}

.bgwhite {
    background-color: white;
}

.bgblack {
    background-color: black;
    color: green;
}

.removeBottomMargin {
    margin-bottom: 0 !important;
}

.menuWhite {
    color: white;
}

.loginPadding {
    padding: 10%;
    max-width: fit-content;
    margin-left: 25%;
}

.nadpisAlign {
    padding: 1%;
    text-align: center;
}

.tabPadding {
    padding-top: 3%;
}

.tabAlign {
    padding: 3%
}

.alignCenter {
    margin-left: auto !important;
    margin-right: auto !important;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #5f788a;
    color: white;
    text-align: center;
    font-weight: 500;
}

.sticky {
    position: sticky !important;
    bottom: 0;
    background-color: black;
    color: green;
}

.buttonsCenter {
    width: 100%;
    margin: auto;
    padding: 3%;
    justify-content: center;
}

.tabCenter {
    width: 100%;
    margin: auto;
    justify-content: center;
}

.buttonsSize {
    font-size: 2rem !important;
}

.currectPageStyle {
    background-color: #a3a5a7 !important;
}